.filter-container{
    background-color: #FFFFFF;
  border-radius: var(--radius-md, 1rem);
    box-shadow: var(--shadow-md, 0 4px 6px rgba(0, 0, 0, 0.1));
  padding: 10px;
  max-width: 1200px;
  margin: 20px auto;
  


}
.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: x-large;
    padding-bottom: 15px;
}
.filter1{
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}
.filter2{
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}