.footer-container {
    position: relative;
    background-color: black;
    height: 100px;
color: azure;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.footer-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.footer-links {

    display: flex;
    justify-content: center;

    gap: 20px;
    margin-top: 10px;
}
.footer-container p {
    font-size: 1rem;
    margin: 5px 0;
}
.footer-container a {
    color: #fcc900;
    text-decoration: none;
}