.hot-deals-container {
background-color: #FFFFFF;
  border-radius: var(--radius-md, 1rem);
    box-shadow: var(--shadow-md, 0 4px 6px rgba(0, 0, 0, 0.1));
  padding: 10px;
  max-width: 1200px;
  margin: 20px auto;
}

.hot-deals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: x-large;
  padding-bottom: 15px;
}
.hot-deals {
    
  display: flex;
  justify-content: space-evenly;
    flex-wrap: wrap;
  gap: 16px;
}
.hot-deals img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 8px;
}